<div class="container">
    <div class="content">
        <h1>A Litte About Me</h1>

        <h3>
            I'm a soon to be grad of UVU in the field of Digital Media with an emphasis in Internet Technologies.
        </h3>

        <h3>
            What does that mean? Well, I love technology and anything to do with web development and digital media.
        </h3>
        <a href="#/" class="btn btn-primary btn-lg">Home</a>
        <a href="#/" class="btn btn-success btn-lg">Portfolio</a>
    </div>

</div>
